body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.onboarding-link{
  padding: 20px 5px;
  color: #A9832D;  
  text-decoration: none;
  font-size: large;
}
.onboarding-link:hover{
  text-decoration: underline;
  font-weight: bold;
  color: #2196f3; 
}

.breadCrumbsLink{
  text-decoration: none;
  color: #A9832D;
  font-weight: 100;
}

.breadCrumbsLink:hover{
  text-decoration: underline;
  color: #2196f3;
  font-weight: bold;
}
